<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/login.css" />

</head>
<body>
   <% if(errorMessage) {%>
  <div class="error-message" id="hideMe"><%=errorMessage%></div>
 <%}%>
    
    <div class="form_container">
    <form action="/new-password"method="POST" class="form">
        <h1>set password</h1>
        <div class="input_container">
            <label for="password">new password</label>
            <input type="password" id="password" class="input" name="password" required/>
            <input type="hidden" name="userId" value="<%=userId%>">
            <input type="hidden" name="passwordToken" value="<%=passwordToken%>">
        </div>
        <div class="input_container">
            <button type="submit" class="login_btn">Update password</button>
        </div>
            
    </form>
</div>
    <%- include('../includes/end.ejs') %>
